body{
	width: 100%;
	margin: 0 ;
	background-size: 100% , 100% ;
	background-position: absolute;
	background-repeat: no-repeat;
	background-image: url("../images/background.jpg");
}

.welcomeMsg{
	text-align: center;
	font-family: italic;
	color: white;
	font-family: "Courier", "Poiret One";
}

.oneWay { 
	float: left;
	position: center;
}

.roundTrip {
	float: right;
	position: center;
}

.tripSelection{
	position: absolute;
	padding: 0px 330px 0em;
	color: #e78f08 ;
	font-family: "Poiret One";
	font: bold;


}

.search{
	padding: 200px 0px 0em;
	text-align: center;
}

#footer{
	padding: 200px 0px 0em;
	text-align: center;
}
