.welcomeMsg{
	text-align: center;
	font-family:'Arial';
	
}
body{
	font-family: 'Verdana'; 
	height: ;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../images/way4.jpg");
    -moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	
}


.oneWay { 
	float: left;
	position: center;
}

.roundTrip {
	float: right;
	position: center;
}

.tripSelection{
	position: absolute;

}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	float: left;
	display: inline-block;
	width: 100px;
	background-color: ;
}

.table{
	margin: 0 auto ;
    border-radius: 10px;
	background-color: rgb(128,128,128);
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 1);
}
.header{
	position: relative;
	width: 100%;
}
.logo1{
	text-align:center;
	margin: -50px 50px 0em;
	padding: -45px -5px 0em;
}

.form{
	width: 40%;
	padding: 40px;
	margin: 0 auto ;
    border-radius: 10px;
	background-color: rgb(128,128,128);
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 1);
}

.selectedRoute{
    text-align: center;
}

footer , h5{
	color: white;
}

