{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>QuickBooking</title>
    <link rel="stylesheet" type="" href="{% static "QuickBooking/css/home.css" %}">
    <script type="text/javascript" src="{% static "QuickBooking/js/home.js" %}"></script>
    <link href="{% static "QuickBooking/css/jquery-ui.min.css" %}" rel="stylesheet" />
</head>

<body>
    <img src="{% static "QuickBooking/images/logo.png" %}"/>
    <div class="welcomeMsg">
        <h3> Your better choice for instant tickets &amp; faster travelling.</h3>
    </div>
    <br/>
    
    <center>
    <form action="{% url 'QuickBooking:results' %}" method="post">
        {% csrf_token %}
        From:
        <select name="src">
            {% for stop in bus_stop_list %}
            <option>{{ stop.stopname }}</option>
            {% endfor %}
        </select>
        To:
        <select name="dest">
            {% for stop in bus_stop_list %}
            <option>{{ stop.stopname }}</option>
            {% endfor %}
        </select>
        
    <br/><br/><br>

     <div class="tripSelection">
        <input type="radio" name="travel_option" value="One Way" onclick="checkTravelType(this);" checked> One Way</input>
        <div class="oneWay" name="date" id="oneWay"> </div>
        <input type="radio" name="travel_option" value="Round Trip" onclick="checkTravelType(this);"> Round Trip</input>
        <div class="roundTrip" name="date" id="roundTrip"></div>
    </div>

    <div class="search"><button>Search</button></div>
    </form>
    </center><br/>

<!-- <center> -->

<form action="">
   
</form>
<!-- </center> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="{% static "QuickBooking/js/jquery-ui.min.js" %}"></script>
 
<script type="text/javascript">
   defaultSelection();
</script>
<style>
.ui-datepicker {
    font-size:80%;
}
</style>



<div id="footer" > Knowledge-Sharing-Campaign-Congo &#9830; INDIA &#9830; Email: KSC@gmail.com </div>
</body>
</html>
