{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="" href="{% static "QuickBooking/css/home.css" %}">
    <script type="text/javascript" src="{% static "QuickBooking/js/home.js" %}"></script>
</head>

<body>
    <div style="text-align: center;">
        
    </div>
    <img src="{% static "QuickBooking/images/logo.png" %}"/>
    <div class="welcomeMsg">
    <br />
    <h3> Your better choice for instant tickets &amp; faster travelling.</h3>
    </div>

    <form action="{% url 'QuickBooking:results' %}" method="post">
        {% csrf_token %}
        <select name="src">
            {% for stop in bus_stop_list %}
            <option>{{ stop.stopname }}</option>
            {% endfor %}
        </select>
        <select name="dest">
            {% for stop in bus_stop_list %}
            <option>{{ stop.stopname }}</option>
            {% endfor %}
        </select>
        <button>Search</button>
    </form>
</body>

</html>
